# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Virtual env
venv/
.env/

# Uploaded documents
backend/ingestion_service/app/uploaded_files/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
